.reaction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 135, 209);
    height: 540px;
    cursor: pointer;

    &.await {
        background-color: $color-error;
    }

    &.error {
        background-color: $color-neutral;
    }

    &.react {
        background-color: $color-success;
    }

    &.ended {
        background-color: $color-neutral;
        cursor: auto;
    }

    &__title {

        color: $color-2;
    }
}