.typing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 135, 209);
    height: 540px;
    cursor: pointer;
    position: relative;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        max-width: 970px;
        width: 100%;
        height: 90%;
        bottom: 0;
        position: absolute;

        &__game {
            background-color: rgba(255, 255, 255, 0.801);
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            cursor: text;

            &:hover {
                background-color: white;
            }

            .await {
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 1px;
                color: rgba(0, 0, 0, 0.541);
            }

            .error {
                line-height: 30px;
                font-weight: 600;
                background-color: $color-error;
                color: white;
            }

            .success {
                line-height: 30px;
                font-weight: 600;
                background-color: $color-success;
                color: black;
            }
        }

        * {
            color: $color-2;
        }

        &__average {
            margin-top: 40px;
            font-size: map-get($font-size, size4);
            font-weight: 500;
        }

        &__title {
            font-size: map-get($font-size, size1);
            font-weight: 500;
            color: $color-2;
            margin: 10px;

            @media screen and (max-width: 850px) {
                font-size: map-get($font-size, size1) * 0.4;
                text-align: center;
            }


        }

        &__paragraph {
            font-size: map-get($font-size, size4);
            font-weight: 500;
            color: $color-2;
            margin-top: 20px;

            @media screen and (max-width: 850px) {
                font-size: map-get($font-size, size4) * 0.5;
                text-align: center;
            }
        }

        &__count {
            position: absolute;
            top: -35px;
        }


        .fa-bullseye {
            font-size: 6rem;
            color: white;
            caret-color: transparent;
            z-index: 2;

            @media screen and (max-width: 850px) {
                font-size: 4rem;
            }

            &.absolute {
                position: absolute;
                transform: translate(-50%, -50%);
            }

            &.pulse {
                opacity: 1;
                animation: pulseOpacity 1100ms linear infinite alternate;
            }
        }


        &__volume {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 2rem;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.384);
            z-index: 1;

            &:hover {
                color: white;
            }
        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .save,
            .again {
                padding: 15px 30px;
                border-radius: 3px;
                margin: 5px;
                font-weight: 600;
                font-size: map-get($font-size, size5);
                cursor: pointer;
                transition: background-color 0.2s;
                color: $color-3;

                &:hover {
                    transition: background-color 0.2s;
                    background-color: $color-2;
                }
            }

            .save {
                background-color: $color-save;

            }

            .again {
                background-color: $color-again;

            }
        }
    }
}