.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


    &__title {
        margin-top: $large-gap;
        font-weight: 500;
        font-size: map-get($font-size, size2);

        @media screen and (max-width: 850px) {
            font-size: map-get($font-size, size2)* 0.5;
        }
    }
}