//maps
$font-size: (basic: 14px,
    size1: 80px,
    size2: 60px,
    size3: 40px,
    size4: 24px,
    size5: 18px,
);

/*  -------------------- colors ---------------------- */
$color-1: #E6E8F4;
$color-2: #FFF;
$color-3:black;
$color-4: rgb(242, 242, 242);
$color-sprinkle: rgb(255, 147, 69);
$color-neutral: rgb(43, 135, 209);
$color-success: rgb(75, 219, 106);
$color-error: rgb(206, 38, 54);
$color-await: rgb(206, 38, 54);
$color-save: rgb(255, 209, 84);
$color-again: rgba(255, 255, 255, 0.5);
/*  -------------------- gaps ---------------------- */
$large-gap: 60px;
$medium-gap: 30px;
$small-gap: 15px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    color: $color-3;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: $color-1;
}



header {
    width: 100%;
}

/* main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 0 $medium-gap 240px $medium-gap;

} */

/* @media screen and (max-width: map-get($breakpoints, mobile)) {

    main {
        padding: 0 $small-gap 240px $small-gap;
    }
} */